/* Container principal da página */
.pokedex-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

/* Estilos para o cabeçalho da página */
.pokedex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid #e0e0e0;
    margin-bottom: 30px;
}

.search-container input {
    padding: 10px 20px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 1em;
}

/* Estilos para os cartões de Pokémon */
.pokemon-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 25px;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fcfcfc;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    color: #333;
}

.pokemon-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.pokemon-id {
    color: #999;
    font-size: 0.9em;
    font-weight: 500;
    margin-bottom: 5px;
}

.pokemon-image-container {
    background-color: #e6e6e6; /* Um cinza claro para o fundo da imagem */
    border-radius: 50%;
    padding: 10px;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.pokemon-card img {
    width: 100px;
    height: 100px;
}

.pokemon-name {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.type-badges-container {
    display: flex;
    gap: 8px;
}
