@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: radial-gradient(circle at center, #f30b32,#f30b32, #f30b32, #f30b32, #cf1232, #cf1232, #5f0b19);
}

.pokedex-container {
    border: 10px solid #33484B;
    border-radius: 20px;
    padding: 20px;
    max-width: 90%;
    margin: 30px auto;
    box-sizing: border-box;

    /* Adicionando SUA imagem de fundo */
background-image: url('../src/assests/images/fundo-pokedex.png');
    background-position: center center;
    background-repeat: repeat;
    z-index: 1;
}
